# Q1: Import numpy library

In [1]:
import numpy as np

# Q2: Generate a sequence of 15 floats using linspace() function

In [3]:
a = np.linspace(1, 30, num = 15)
a

array([ 1.        ,  3.07142857,  5.14285714,  7.21428571,  9.28571429,
       11.35714286, 13.42857143, 15.5       , 17.57142857, 19.64285714,
       21.71428571, 23.78571429, 25.85714286, 27.92857143, 30.        ])

# Q3: Create a 3-D array in shape (2, 2, 3) containing the four arrays given below 
Note : the array's name is up to you.

|      |       |          |         |
|------| ----- | -------- | ------- |
|arr1 | 1.1    | 2.1       | 3.1        |
|arr2 | 4.1    | 5.1       | 6.1        |
|arr3 | 7.1    | 8.1       | 9.1        |
|arr4 | 10.1   | 11.1      | 12.1       |

In [6]:
b = np.array([[[1.1, 2.1, 3.1],[4.1, 5.1, 6.1]], [[7.1, 8.1, 9.1], [10.1, 11.1, 12.1]]])
b

array([[[ 1.1,  2.1,  3.1],
        [ 4.1,  5.1,  6.1]],

       [[ 7.1,  8.1,  9.1],
        [10.1, 11.1, 12.1]]])

In [7]:
b.shape

(2, 2, 3)

# Q4: Print the following:
Note: use the same array from Q3.
- Array's type.
- Array's elements datatype.
- Array's shape.
- Array's size.
- Array's dimention.

In [8]:
print(type(b))
print(b.dtype)
print(b.shape)
print(b.size)
print(b.ndim)

<class 'numpy.ndarray'>
float64
(2, 2, 3)
12
3

# Q5:  Change the array dimention from 3-D to 4-D
Note: use the same array from Q3.
- Create a new array to hold the changes. 
- Print the new array's dimention and shape.

In [10]:
c = b.reshape(2, 2, 3, 1)
print(c)
print(c.ndim)
print(c.shape)

[[[[ 1.1]
   [ 2.1]
   [ 3.1]]

  [[ 4.1]
   [ 5.1]
   [ 6.1]]]


 [[[ 7.1]
   [ 8.1]
   [ 9.1]]

  [[10.1]
   [11.1]
   [12.1]]]]
4
(2, 2, 3, 1)

# Q6: Change the array's elements datatype to integer  
Note: use the same array from Q5.

- Create a new array to hold the changes. 
- Print the new array.

In [12]:
d = c.astype('int64')
d

array([[[[ 1],
         [ 2],
         [ 3]],

        [[ 4],
         [ 5],
         [ 6]]],


       [[[ 7],
         [ 8],
         [ 9]],

        [[10],
         [11],
         [12]]]], dtype=int64)

# Q7: Print all array's elements using for loop
Note: use the same array from Q6.

Hint: use nditer()

In [13]:
for x in np.nditer(d): 
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12

# Q8:  Print number 8 using array slicing
Note: use the same array from Q6.

In [14]:
d[ d == 8 ]

array([8], dtype=int64)

# Q9: Print number 5 and number 6 using array slicing
Note: use the same array from Q6.

In [16]:
d[(d == 5) | ( d == 6 )]

array([5, 6], dtype=int64)

# Q10: Search for number 8 using where()
Note: use the same array from Q6.

Note: where() is only used with small data.

*the output represents the path of the index that leads to number 8*

In [19]:
index = np.where(d == 8)
print(index)
d[index]

(array([1], dtype=int64), array([0], dtype=int64), array([1], dtype=int64), array([0], dtype=int64))

array([8], dtype=int64)

# Q11: Reshape the array as the following

    array([[[ 1, 2],
            [ 3,  4],
            [ 5,  6]],

           [[ 7,  8],
            [ 9, 10],
            [11, 12]]])
            
 Note: use the same array from Q6.

In [32]:
np.resize(d , (2, 3, 2))

array([[[ 1,  2],
        [ 3,  4],
        [ 5,  6]],

       [[ 7,  8],
        [ 9, 10],
        [11, 12]]], dtype=int64)

# Q12: Join the given arrays below 
    arr1 = np.array([['A', 'B'], ['E', 'F']])
    arr2 = np.array([['C', 'D'], ['G', 'H']])
## Q12.1: Join the arrays without specifying the axis

In [33]:
arr1 = np.array([['A', 'B'], ['E', 'F']])
arr2 = np.array([['C', 'D'], ['G', 'H']])

In [38]:
arr = np.concatenate((arr1, arr2))
arr

array([['A', 'B'],
       ['E', 'F'],
       ['C', 'D'],
       ['G', 'H']], dtype='<U1')

# Q12.2: Join the arrays along rows with axis = 1

In [39]:
np.concatenate((arr1, arr2), axis=1)

array([['A', 'B', 'C', 'D'],
       ['E', 'F', 'G', 'H']], dtype='<U1')

# Q13: Split the array into two arrays with axis = 1, each array should contain four arrays. 
Note: use the same array from Q12.1

In [40]:
np.array_split(arr, 2, axis=1)

[array([['A'],
        ['E'],
        ['C'],
        ['G']], dtype='<U1'),
 array([['B'],
        ['F'],
        ['D'],
        ['H']], dtype='<U1')]